.entity-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.entity-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    max-height: 83vh;
    overflow-y: scroll; /* Allows vertical scrolling */
    position: relative;

    /* Hide scrollbars but enable scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.entity-form::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.right-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-buttons button {
    margin-left: 10px;
}

.delete-button {
    margin-right: 10px;
}

.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.3s;
}

.modal-enter,
.modal-leave-to {
    opacity: 0;
}

.right-side-action-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.right-side-action-button input {
    flex: 1;
    margin-right: 10px;
}